{% extends 'admin/base.html' %}

{% block content %}
{{ super }}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="col-lg-5">
    <h3 class="text-danger text-center">Thống kê báo cáo bài học của từng khóa học</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="col-8 text-center align-middle">Khóa học</th>
            <th class="col-4 text-center">Số lượng bài học</th>
        </tr>
        </thead>
        <tbody>
        {% for lesson_number in lesson_total_of_course %}
        <tr>
            <td class="col-8">{{ lesson_number.subject }}</td>
            <td class="col-4 text-center">{{ lesson_number.lesson_number }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h4>Tổng số khóa học: <span class="font-weight-bold">{{ course_total }}</span></h4>
</div>
<div class="col-lg-7">
    <h3 class="text-danger text-center">Biểu đồ thống kê</h3>
    <div>
        <canvas id="myChart"></canvas>
    </div>
</div>

<script>
    let lable = 'Biểu đồ thống kê số lượng bài học của khóa học'
    let type = 'bar'
    let charId = 'myChart'
    let borderWidth = 1
    let labels = []
    let data = []
    let backgroundColor = []
    let borderColor = []
    
    charCustom(charId, type, labels, lable, data, backgroundColor, borderColor, borderWidth)

    function charCustom(charId, type, labels, lable, data, backgroundColor, borderColor, borderWidth ) {
        const ctx = document.getElementById('charId');
        const myChart = new Chart(ctx, {
            type: 'type',
            data: {
                labels: labels,
                datasets: [{
                    label: lable,
                    data: data,
                    backgroundColor: backgroundColor,
                    borderColor: borderColor,
                    borderWidth: borderWidth
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }
</script>
{% endblock %}
